CONFIG_SECURITY_YAMA=y
CONFIG_SECURITY_YAMA_STACKED=y


CONFIG_SYSVIPC=y
CONFIG_UTS_NS=y
CONFIG_TTY=y
CONFIG_VT=y


# Only for hybris?
CONFIG_FW_LOADER_USER_HELPER=y

CONFIG_CGROUP_DEVICE=y
CONFIG_CGROUP_PERF=y
CONFIG_CHECKPOINT_RESTORE=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_DUMMY=n
CONFIG_FANOTIFY=y
CONFIG_FHANDLE=y
CONFIG_IPC_NS=y
CONFIG_LBDAF=y


CONFIG_AUTOFS4_FS=y
CONFIG_BLK_CGROUP=y

CONFIG_NETFILTER_NETLINK_ACCT=y
CONFIG_NETFILTER_XT_MATCH_MULTIPORT=y
CONFIG_NETFILTER_XT_MATCH_NFACCT=y
CONFIG_NETPRIO_CGROUP=y
CONFIG_NET_CLS_CGROUP=y

CONFIG_RTC_DRV_CMOS=y
CONFIG_SECURITY_SELINUX_BOOTPARAM=y

CONFIG_WATCHDOG_NOWAYOUT=y

CONFIG_PROC_DEVICETREE=y
CONFIG_TMPFS_XATTR=y
CONFIG_MEMCG_KMEM=y


CONFIG_PM_AUTOSLEEP=y