
# Hybris Pie requires
CONFIG_SECURITY_YAMA=y
CONFIG_SECURITY_YAMA_STACKED=y
CONFIG_BT_HCIUART=y
CONFIG_BT_HCIUART_H4=y
CONFIG_FW_LOADER_USER_HELPER=y

# hybris flags from Oreo
CONFIG_AUTOFS4_FS=y
CONFIG_BLK_CGROUP=y
CONFIG_BT_RFCOMM=y
CONFIG_CGROUP_DEVICE=y
CONFIG_CGROUP_PERF=y
CONFIG_CHECKPOINT_RESTORE=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_DUMMY=n
CONFIG_FANOTIFY=y
CONFIG_FHANDLE=y
CONFIG_IPC_NS=y
CONFIG_LBDAF=y
CONFIG_NETFILTER_NETLINK_ACCT=y
CONFIG_NETFILTER_XT_MATCH_MULTIPORT=y
CONFIG_NETFILTER_XT_MATCH_NFACCT=y
CONFIG_NETPRIO_CGROUP=y
CONFIG_NET_CLS_CGROUP=y
CONFIG_PID_NS=y
CONFIG_RTC_DRV_CMOS=y
CONFIG_SECURITY_SELINUX_BOOTPARAM=y
CONFIG_SYSVIPC=y
CONFIG_UTS_NS=y
CONFIG_TTY=y
CONFIG_VT=y
CONFIG_WATCHDOG_NOWAYOUT=y

CONFIG_PROC_DEVICETREE=y
CONFIG_TMPFS_XATTR=y
CONFIG_MEMCG_KMEM=y

# hybris: additional configs for systemd-nspawn and so on
CONFIG_NF_NAT_IPV6=y
CONFIG_IP6_NF_TARGET_MASQUERADE=y
CONFIG_NETFILTER_XT_TARGET_CHECKSUM=y
CONFIG_UNIX_DIAG=y
CONFIG_PACKET_DIAG=y
CONFIG_NETLINK_DIAG=y
CONFIG_USER_NS=y
CONFIG_CGROUP_NS=y
CONFIG_VETH=y
CONFIG_MACVLAN=y
CONFIG_VLAN_8021Q=y
CONFIG_BLOCK=y
CONFIG_SQUASHFS=y
CONFIG_SQUASHFS_LZ4=y
CONFIG_SQUASHFS_XATTR=y

# hybris: additional filesystems which are useful
CONFIG_BTRFS_FS=y
CONFIG_BLK_DEV_NBD=y
CONFIG_XFS_FS=y
CONFIG_ISO9660_FS=y
CONFIG_F2FS_FS=y
CONFIG_NFS_FS=y
CONFIG_NFS_V3=y
CONFIG_NFS_V3_ACL=y
CONFIG_NFS_V4=y
CONFIG_NFS_V4_1=y
CONFIG_NFS_USE_KERNEL_DNS=y
CONFIG_LOCKD=y
CONFIG_LOCKD_V4=y
CONFIG_NFS_ACL_SUPPORT=y
CONFIG_NFS_COMMON=y
CONFIG_SUNRPC=y
CONFIG_SUNRPC_GSS=y
CONFIG_CIFS=y

# hybris bluetooth
CONFIG_BT_HCIVHCI=y
CONFIG_BT_HIDP=y

# hybris binder interfaces
CONFIG_ANDROID_BINDER_DEVICES="binder,vndbinder,hwbinder,puddlejumper,vndpuddlejumper,hwpuddlejumper"
CONFIG_CGROUP_SCHEDTUNE=n
CONFIG_SCHED_TUNE=n
